/* Landing page colors */

:root {
  --color-light-green: #66e2dc;
  --color-light-red: #fa7453;
  --color-light-yellow: #ffb964;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #8f8d8d;
}


/* body and box-sizing*/

body {
  font-family: IBM Plex Sans Reg, sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* responsive backgrounds 480px and 768px for mobile and tablets respectively */

.bg--main--desktop {
  background: linear-gradient( rgba(226, 224, 223, 0.4), rgba(247, 245, 245, 0.4)), url("../images/bg-main-desktop.png");
}

.bg--main--mobile {
  background: linear-gradient(hsla(0, 0%, 100%, 0.4), rgba(255, 255, 255, 0.4)), url("../images/bg-main-mobile.png");
}

.bg--main--tablet {
  background: linear-gradient( rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../images/bg-main-tablet.png");
}


/* buttons */

.landing--btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: var(--color-main);
  color: var(--color-white);
}


/* hover on buttons */

.landing--ios--btn {
  background-color: var(--color-black);
  color: var(--color-white);
}

.landing--android--btn {
  background-color: var(--color-white);
  color: var(--color-black);
}

.landing--android--btn:hover {
  background-color: var(--color-light-yellow);
  color: var(--color-black);
}

.landing--ios--btn:hover {
  background-color: var(--color-light-green);
  color: var(--color-white);
}


/* basic page fonts */

h1 {
  font-size: 60px;
  margin-top: 100px;
}

h2 {
  font-size: 40px;
  color: var(--color-white);
}

span {
  font-size: 20px;
  line-height: 2rem;
  color: var(--color-gray);
}

.gopremium--desc {
  font-size: 15px;
  color: var(--color-white);
}

.gopremium--currency {
  padding-bottom: 20px;
  font-size: 50px;
  color: var(--color-white);
}

.gopremium--div {
  padding-top: 10px;
}


/* container and row */

.container {
  margin: 30px 40px;
}

.row {
  display: flex;
  justify-content: space-around;
}


/* welcome section */

.row--left {
  width: 80%;
  margin: 20px;
}

.row--right {
  width: 25%;
}


/*middle section*/

.middle {
  margin: 250px 0px;
}

.parent--box {
  position: relative;
  height: 600px;
  border-radius: 5px;
  background-color: var(--color-black);
}

.first--child {
  position: absolute;
  left: 140px;
  top: -200px;
  width: 300px;
}

.second--child {
  position: absolute;
  left: 340px;
  top: -60px;
}

.third--child {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 70px;
  bottom: -110px;
  width: 400px;
  height: 600px;
  padding: 50px;
  border-radius: 10px;
  background-color: var(--color-light-red);
}


/* Footer section */


/* The footer is displayed in grid form to make it responsive on resizing.
The grid-template-columns is to enable the grid components be arranged so that each have equal width */

.footer--flex {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.social--media {
  display: flex;
  justify-content: flex-end;
}

.info {
  line-height: 1.8rem;
}

.social--media--icons {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.social--media--icons:hover {
  background-color: var(--color-light-red);
}

.social--media--icons::before {
  color: var(--color-white);
}


/* updates on typography */

#top--left {
  margin-left: 10px;
}

.row--right--img {
   width: 100%; 
  margin-top: -40px;
  float: left;
  
}


/* Media querry for tablets */

@media screen and (max-width: 920px) {
  /* welcome section */
  .row--right {
      width: 20%;
  }
  /*middle section*/
  .middle {
      margin: 200px 0px 300px 0px;
  }
  .first--child {
      width: 250px;
      height: auto;
      top: -20%;
  }
  .second--child {
      width: 200px;
      height: 330px;
      left: 310px;
      top: -3%;
  }
  .third--child {
      right: 5%;
      width: 55%;
      height: 100%;
      bottom: -20%;
  }
  .gopremium--div {
      padding-top: 0px;
  }
  .gopremium--desc {
      font-size: 18px;
  }
  /* Footer section  */
  .footer--flex {
      margin-left: 50px;
      flex-wrap: wrap;
      justify-content: flex-start;
  }
  .footer--equalizer {
      flex-basis: 100%;
  }
  .info {
      line-height: 1.8rem;
      width: 70%;
  }
  .social--media {
      align-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .parent--box {
      height: 620px;
  }
  .first--child {
      left: 80px;
  }
  .second--child {
      left: 250px;
      top: 1%;
  }
  .third--child {
      right: 5%;
      width: 60%;
      height: 96%;
      bottom: -20%;
  }
  .gopremium--desc {
      font-size: 15px;
      padding: 0px;
  }
  .gopremium--currency {
      font-size: 40px;
  }
}


/* End of the media querry for tablet */


/* Media querry for mobile phones */

@media screen and (max-width: 540px) {
  .row--right-img {
      display: none;
  }
  h1 {
      font-size: 30px;
  }
  /*hide object on small devices*/
  .hide--object--on--mobile {
      display: none;
  }
  /* rows */
  .row {
      flex-direction: column;
  }
  /*middle section*/
  .middle {
      margin: 200px 0px 300px 0px;
  }
  .first--child {
      width: 180px;
      left: 50px;
      top: -100px;
  }
  .second--child {
      left: 25px;
      top: 0px;
      width: 75%;
  }
  .third--child {
      right: 0%;
      width: 100%;
      height: 550px;
      top: 300px;
      padding: 30px;
  }
  h2 {
      font-size: 30px;
  }
  .gopremium--div {
      padding-top: -560px;
  }
  .gopremium--desc {
      font-size: 15px;
      line-height: 1.5rem;
      padding-bottom: 20px;
  }
  .landing--btn {
      width: 200px;
      margin-left: 5px;
  }
  /* Footer section */
  .footer--flex {
      margin-left: 50px;
      margin-top: 300px;
      flex-direction: column;
      justify-content: flex-start;
  }
  .social--media {
      justify-content: flex-start;
  }
}

@media screen and (max-width: 280px) {
  span {
      font-size: 15px;
  }
  .first--child {
      width: 110px;
      top: -60px;
  }
  .second--child {
      /* left: 25px;
      top: 0px; */
      width: 75%;
      height: 33%;
  }
  .third--child {
      height: 550px;
      top: 30%;
      padding: 30px;
  }
  .gopremium--desc {
      font-size: 10px;
      line-height: 1rem;
      /* padding-bottom: 20px; */
  }
  .landing--btn {
      width: 150px;
  }
  .android {
      margin-left: -10px;
  }
  .footer--flex {
      margin-top: -100px;
      font-size: 15px;
      line-height: 1rem;
  }
}


/* End of media querry for mobile */